.wrapper {
  max-width: 1278px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
@media screen and (max-width: 1278px) {
  .wrapper {
    max-width: 1024px;
    padding: 0 25px;
  }
}
@media screen and (max-width: 1023px) {
  .wrapper {
    max-width: 967px;
    padding: 0 15px;
  }
}

